.wallets-modal {
    transform: scale(1);
    opacity: 1;
    animation: mount 0.25s ease-out;
}

@keyframes mount {
    from {
        transform: scale(0);
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        transform: scale(1);
        opacity: 1;
        transform: translateY(0px);
    }
}
